@import "tailwindcss";

/* Font Inter Regular */
@font-face {
    font-family: Inter;
    src: url(../../public/fonts/Inter_28pt-Regular.ttf);
}

/* Font Inter Medium */
@font-face {
    font-family: Inter-Medium;
    src: url(../../public/fonts/Inter_28pt-Medium.ttf);
}

/* Font Inter Semi Bold */
@font-face {
    font-family: Inter-SemiBold;
    src: url(../../public/fonts/Inter_28pt-SemiBold.ttf);
}

/* Font Inter Bold */
@font-face {
    font-family: Inter-Bold;
    src: url(../../public/fonts/Inter_28pt-Bold.ttf);
}

/* Font Inter Extra Bold */
@font-face {
    font-family: Inter-ExtraBold;
    src: url(../../public/fonts/Inter_28pt-ExtraBold.ttf);
}

/* Font Inter Black */
@font-face {
    font-family: Inter-Black;
    src: url(../../public/fonts/Inter_28pt-Black.ttf);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-inter: Inter;
    --font-inter-medium: Inter-Medium;
    --font-inter-semibold: Inter-SemiBold;
    --font-inter-bold: Inter-Bold;
    --font-inter-extrabold: Inter-ExtraBold;
    --font-inter-black: Inter-Black;
    /* --color-primary: #166534;
    --color-muted: #e5e5e5;
    --color-tertiary: #94a3b8;
    --color-surface: #ffffff;
    --color-accent: #64748b;
    --color-secondary: #dcfce7;
    --color-content: #0f172a;
    --color-background: #f8fafc; */
}

/* .light {
    --color-primary: #ec4b06;
    --color-muted: #334155;
    --color-tertiary: #64748b;
    --color-surface: #1e293b;
    --color-accent: #94a3b8;
    --color-secondary: #064e3b;
    --color-content: #f1f5f9;
    --color-background: #0f172a;
} */

body {
    background-color: aliceblue;
    font-family: var(--font-inter), var(--font-sans);
}
